<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template::head"></head>
    <!-------------TABLA PARA MOSTRAR LO DE BD----------------------------------------------------------------------------------------------------- -->

    <body>
        <header th:replace="plantilla/template::header-security"></header>   
        <h1 th:text="#{consoles.list}" class="htcA"></h1>


        <!-- ESTOS SON LOS CARDS, ES NECESARIO APLICARLES EL CSS PARA ACOMODARLOS -->
        <div class="card-group">
            <th:block th:each="consola : ${consolas}">
                <div class="card-cad" style="width: 18rem;">
                    <img th:src="@{${consola.getImgLink}}"/>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${consola.getName}"></h5>
                        <p class="card-text" th:text="${consola.getFeatures}"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:text="#{games.quantityavailable} + ': ' + ${consola.getQuantity} + '.'"></li>
                        <li class="list-group-item" th:text="${consola.getProductCondition}"></li>
                        <li class="list-group-item" th:text="#{consoles.price} + ': ' + ${consola.getPrice} + ' colones.'"></li>
                    </ul>
                    <div class="card-body">
                        <a th:href="@{/editConsole/{id} (id=${consola.getId})}" th:text="#{consoles.edit}"></a>
                        <a th:href="@{/deleteConsole/{id} (id=${consola.getId})}" th:text="#{consoles.delete}"></a>
                    </div>
                </div>
            </th:block>
        </div>

        <a class="btn btn-primary" th:href="@{/createconsole}" role="button" th:text="#{consoles.add}"></a>
        <a class="btn btn-primary" th:href="@{/report/consoles}" role="button" th:text="#{consoles.report}" onclick="showAlert()"></a>
        <a class="btn btn-primary" th:href="@{/admin}" role="button" th:text="#{consoles.back}"></a>

        <script>
            function showAlert() {
                alert("Se generó el reporte en D:\\WOFS");
            }
        </script>
    </body>

    <footer th:replace="plantilla/template::footer"></footer><
</html>
